@import './styles/utils/variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';
@import './styles/reset.scss';


body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.form-control::placeholder {
  color: rgb(170, 170, 170);
  opacity: 1;
}
